body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

#logo {
  position: absolute;
  top: 10%;
  left: 50%;

  width: 75vw;
  height: 75vh;
}

#email,
#password {
  top: 20%;
  left: 12%;
  position: absolute;

  height: 5vh;
  width: 25vw;
  border-radius: 10px;
  border: 1px solid lightgray;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

#password {
  top: 27%;
  width: 23vw;
}

#email:hover, #password:hover{
    transition: 7ms;
    border: 1px solid gray;

}

#login {
  font-size: 3.5vw; 
  width: 20%;
  max-width: 200px;
  height: auto;
  padding: 10px 20px;
  position: absolute;
  border-radius: 5px;
  border: 1px solid #0024f0;
  background: #304ffe;
  top: 40%;
  left: 12%;
  text-decoration: none;
  color: white;

  text-align: center;
}

#login:hover{
    transition: 80ms;
    background: #647cff;

}

#guest, #newbies {
  font-size: 2vw;
  max-width: 270px;
  text-decoration: none;
  position: absolute;
  top: 60%;
  left: 12%;

  color: #0024f0;
}

#guest:hover, #newbies:hover {
    transition: 80ms;
    color: #647cff;
}

#newbies {
  top: 65%;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
